<h1>Carrito</h1>

<table>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>

    {{#each productsDetails}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
        </tr>
    {{/each}}

    <tr>
        <td colspan="2"><strong>Total:</strong></td>
        <td>${{totalPrice}}</td>
    </tr>
</table>

<button id="checkoutButton">Finalizar Compra</button>

<script>
    document.getElementById("checkoutButton").addEventListener("click", async function() {
        try {
            const cartId = "{{cartId}}"; // Accedemos directamente a cartId

            const response = await fetch(`/carts/${cartId}`, { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            
            const data = await response.json();

            if (response.ok) {
                console.log(
                "Mensaje de compra exitosa:", data.message
            )
                // Redireccionar al usuario a la ruta de compra exitosa
                window.location.href = `/carts/${cartId}/purchase`;
            } else {
                console.error(
                "Error al procesar la compra:", data.error 
            )
                alert('Error al procesar la compra. Por favor, inténtelo de nuevo más tarde.');
            }

        } catch (error) {
            console.error(
                "Error al procesar la compra:", error
            )
            alert('Error al procesar la compra. Por favor, inténtelo de nuevo más tarde.');
        }
    });
</script>

