<h1>Lista Productos</h1>
<button id="goToCartButton">Ir al Carrito</button>
<button id="signOutButton">Cerrar sesión</button>

<table>
    <tr>
        <th>Id:</th>
        <th>Título:</th>
        <th>Descripción:</th>
        <th>Código:</th>
        <th>Precio:</th>
        <th>Estado:</th>
        <th>Stock:</th>
        <th>Categoría:</th>
        <th>Imágenes:</th>
    </tr>

    {{#each products}}
        <tr>
            <td>{{_id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>${{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{category}}</td>
            <td><img src="{{thumbnail}}" alt="{{title}}" style="max-width: 100px; max-height: 100px;"></td>
            <td>
                <button class="addToCartButton" data-productid="{{_id}}">Agregar al Carrito</button> 
            </td>
        </tr>
    {{/each}}
</table>

<div>
    {{#if hasPrevPage}}
        <a href={{prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp; {{page}} &nbsp;
    {{#if hasNextPage}}
        <a href={{nextLink}}>Siguiente >></a>
    {{/if}}
</div>

<script>
const cartId = "{{user.cart}}";

document.querySelectorAll('.addToCartButton').forEach(button => {
    button.addEventListener('click', () => {
        const productId = button.dataset.productid;
        if (cartId !== 'null') {
            fetch(`/carts/${cartId}/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    alert("Producto agregado al carrito exitosamente");
                } else {
                    alert("Error al agregar el producto al carrito");
                }
            })
            .catch(error => {
                console.error("Error al agregar el producto al carrito:", error);
                alert("Error interno del servidor");
            });
        } else {
            alert("Necesitas estar autenticado para agregar productos al carrito");
        }
    });
});

document.getElementById('goToCartButton').addEventListener('click', () => {
    if (cartId !== 'null') {
        window.location.href = `/carts/${cartId}`;
    } else {
        alert("Necesitas estar autenticado para ver el carrito");
    }
});

document.getElementById('signOutButton').addEventListener('click', () => {
    fetch('/api/sessions/signout', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (response.ok) {
            window.location.href = '/login';
        } else {
            alert("Error al cerrar sesión");
        }
    })
    .catch(error => {
        console.error("Error al cerrar sesión:", error);
        alert("Error interno del servidor");
    });
});
</script>






